@font-face {
  font-family: Futura;
  font-weight: 400;
  src: url("./assets/FuturaPTMedium.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 600;
  src: url("./assets/FuturaPTDemi.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.control-panel {
  position: fixed;
  transition: .3s cubic-bezier(0, 0.52, 0, 1);
  top: 0;
  left: 0;
  max-width: 320px;
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
  overflow-y: scroll;
  z-index: 2;
}


.fullscreen {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
}

.tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.speedometer {
  background-color: pink;
  padding: 30px;
}

.sidenav {
  position: absolute;
  transition: top 1s;
}

.unstyle-list {
  margin: 0;
  padding: 0;
}

.unstyle-list-item {
  list-style-type: none;
  margin-left: 0;
  filter: brightness(100%);
  &:hover {
    cursor: pointer;
    filter: brightness(70%)
  }
}

