/*** Variables ***/
$control-panel-width: 500px;


/*** Set up ***/
@font-face {
  font-family: Futura;
  font-weight: 400;
  src: url("./assets/FuturaPTMedium.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 600;
  src: url("./assets/FuturaPTDemi.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*** Component styling  ***/
.control-panel {
  position: fixed;
  transition: .3s cubic-bezier(0, 0.52, 0, 1);
  top: 0;
  left: 0;
  max-width: 700px;
  width: $control-panel-width;  
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
  overflow-y: scroll;
  z-index: 2;
}


.fullscreen {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
}

.tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.speedometer {
  background-color: pink;
  padding: 30px;
}

.sidenav {
  position: absolute;
  transition: top 1s;
}


#live-view-list {
  margin-bottom: 2rem;
}

.unstyle-list {
  margin: 0;
  padding: 0;
}

.unstyle-list-item {
  list-style-type: none;
  margin-left: 0;
  filter: brightness(100%);
  &:hover {
    cursor: pointer;
    filter: brightness(70%)
  }
}

.unstyle-button {
	font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: none;
  padding: 0;
  display: inline;
}

.timetrail {
  margin-bottom:2rem;
}


.modal-detailed-view {
  background-color: white;
  height: 50rem;
  width: 65rem;
  margin-left: $control-panel-width * 1.2;
  margin-top: 50px; //i know...
  border-radius: 10px;
}

.modal-overlay { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}


/*** CSS Animations for spinny ***/

@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 4px solid #38e;
  border-right-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  margin-bottom: -2px;
}
